.column {
    float:left;
    display:inline;
    margin-left:-1px;
}

.column div {
    border: 1px black solid;
    display:block;
    height:10px;
    width:10px;
    margin-top:-1px;
}

.column div.clicked {
    background:gray;
    border-color:gray;
}